<!--
 * #solution   : STEFANINI (front-end)
 * #objective  : PROCESSO SELETIVO : VAGA (DEV SR REC)
 
 * #author     : guilherme.athayde.nc@gmail.com
 * #phone      : 81 99687.3959
 * #profession : senior full stack developer analyst
 * #date       : 05/04/2020
 -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
      <span class="span"><p class="text-warning" style="font-size: 14px"><b>STEFANINI</b> ° Copyright ©2020</p></span>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>